.page-history{
    padding-top: 50px;
    color: #707EAE;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    a{
        color: #707EAE;
        text-decoration: none;
    }
    padding-left: 35px;
}
.page-history-title{
    padding-left: 35px;
}